html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #34495e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
}

.App {
  text-align: center;
}

.App-link {
  color: #8be3fb;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  text-transform: capitalize;
}

.h1style {
  min-width: 20rem;
  width: 60rem;
  padding: 2rem 2rem;
  background-color: azure;
  color: #2980b9;
  border-radius: 5rem;
  box-shadow: 0rem 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  text-align: center;
}

.btn,
.btnInner {
  margin: auto;
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  background-color: #2980b9;
  color: aliceblue;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 3rem;
}

.btnInner {
  background-color: #d12b54;
  padding: 0.7rem 1.5rem;
  font-size: 1.5rem;
  margin-left: 4rem;
}

.btn:hover {
  background-color: #136ca7;
}
